<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Clint side</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <%students.map((e,i)=>{%>
                <tr>
                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.surname%></td>
                    <td><%=e.subject%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>