<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" name="id" value="<%=data.id%>" hidden>
        <input type="text" placeholder="Enter name" value="<%=data.name%>" name="name">
        <input type="text" placeholder="Enter surname" value="<%=data.surname%>" name="surname">
        <input type="text" placeholder="Enter city" value="<%=data.city%>" name="city">
        <button>Update</button>
    </form>
</body>
</html>