<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div><li><a href="/">Home</a></li></div>
        <nav>
            <ul>
                <li><a href="/addbook">Add Book</a></li>
            </ul>
        </nav>
    </header>
    <h1>Add Book</h1>
    <form action="/addbook" method="post">
        <input type="text" placeholder="Enter book Url" name="image">
        <input type="text" placeholder="Enter book name" name="name">
        <input type="text" placeholder="Enter book author" name="author">
        <input type="text" placeholder="Enter book type" name="type">
        <input type="text" placeholder="Enter book price" name="price">
        <button type="submit">Submit</button>
    </form>
</body>
</html>